/*产品溯源*/

.search,
.platC {
    background: #f2f2f2;
    height: 60px;
    border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
}
.sInfo,
.platT {
    float: right;
    margin: 15px 30px 0 0;
}
.sInfo span {
    color: #393939;
    font-size: 16px;
}
.text {
    border: 1px solid #d6d6d6;
    width: 240px;
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
}
.btn {
    width: 96px;
    text-align: center;
    height: 31px;
    line-height: 31px;
    border: none;
    border-bottom: 1px solid #226439;
    background: #227f57;
    color: #fff;
    margin-left: 6px;
    cursor: pointer;
}
.sTab {
    border: 1px solid #cee1d9;
    border-top: 1px solid #e4e4e4;
    border-bottom: none;
    padding: 25px 25px 65px 25px;
}
.sTab h2 {
    color: #434343;
    font-size: 18px;
}
.sTab table,
.platInfo table {
    width: 100%;
    margin: 25px 0;
    border: 1px solid #eaeaea;
    border-collapse: collapse;
}
.sTab thead,
.platInfo thead {
    background: #f8f8f8;
}
.sTab thead th,
.sTab tbody td,
.platInfo thead th,
.platInfo tbody td {
    height: 50px;
    line-height: 50px;
    border: 1px solid #eaeaea;
    text-align: center;
}
.platInfo tbody td .nomal{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/star.gif);
    vertical-align: text-top;
    margin-right: 8px;
}
.platInfo tbody td .spec{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/star-hover.gif);
    vertical-align: text-top;
    margin-right: 8px;
}
.sTab .line {
    border-top: 1px solid #eaeaea;
    margin: 30px 0 25px 0;
}
.footer {
    background: #0d3f3a;
    height: 50px;
    line-height: 50px;
    text-align: center;
    clear: both;
}
.footer p {
    color: #246a5a;
    font-size: 12px;
}
/*监管平台*/

.notice {
    width: 20%;
    float: left;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border: 1px solid #cee1d9;
    border-top: none;
    border-bottom: 1px solid #b3c3bc;
    background: #f2f2f2;
    padding-top: 5px;
}
.notice ul {
    margin: 0 auto;
    width: 80%;
    padding-bottom: 120px;
}
.notice ul li {
    border-bottom: 1px solid #d9d9d9;
    height: 58px;
    line-height: 58px;
}
.notice ul li a {
    color: #4c4c4c;
    font-size: 16px;
    line-height: 28px;
}
.notice ul .active a {
    color: #227f57;
    font-weight: bold;
}
.platWp {
    margin-left: 1%;
    float: left;
    width: 57%;
}
.platC {
    border: 1px solid #e4e4e4;
    border-left: 1px solid #cee1d9;
    border-top: none;
}
.platT {
    border-right: 1px solid #e3e3e3;
}
.platInfo {
    background: #fff;
    border-left: 1px solid #cee1d9;
    padding: 25px;
}
.platInfo h2 {
    color: #696969;
    font-size: 16px;
    padding-bottom: 8px;
}
.platInfo p {
    margin-bottom: 10px;
}
.platInfo p input {
    background: #f9f9f9;
    border: 1px solid #d7d7d7;
    width: 100%;
    height: 43px;
    line-height: 43px;
    text-indent: 1em;
    font-size: 16px;
    color: #777;
}
.platInfo textarea {
    background: #f9f9f9;
    border: 1px solid #d7d7d7;
    width: 100%;
    line-height: 22px;
    text-indent: 1em;
    font-size: 16px;
    color: #777;
    padding-top: 10px;
    resize: none;
}
.platInfo .info1 {
    height: 125px;
}
.platInfo .info2 {
    height: 65px;
}
.platR {
    width: 20%;
    margin-left: 1%;
    float: left;
}
.platR h2 {
    background: #f2f2f2;
    height: 60px;
    line-height: 60px;
    padding-left: 10px;
    font-size: 16px;
    color: #4c4c4c;
    border-bottom: 1px solid #d7d7d7;
    border-left: 1px solid #cee1d9;
    border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
}
.platR ul {
    background: #fff;
    padding-bottom: 120px;
    border: 1px solid #cee1d9;
    border-bottom: 1px solid #b3c3bc;
    border-top: none;
}
.platR ul li {
    padding: 15px 0 0 20px;
    font-size: 16px;
    color: #4c4c4c;
}
.platR ul li p {
    text-indent: 2em;
    margin-top: 3px;
    font-size: 14px;
}
.platR ul li input{
    margin:0 10px;
}
/*系统设置*/

.setS {
    float: left;
    margin: 15px 0 0 30px;
}
.setInfo{
    padding: 20px;
    min-height: 500px;
}
.setInfo table{
    margin: 0px;
}
.setInfo table a{
    margin: 0 5px;
    color: #2e71c3;
}




.platO{
    width: 78%;
}
.pagination{
    margin: 20px 0;
}
.pagination ul{
    float: right;
}
.pagination ul li{
    display: inline;
}
.pagination ul li a{
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background: #fff;
    border: 1px solid #ddd;
    margin: 0 5px;
}
.pagination ul li a:hover{
    background: #227f57;
    color: #fff;
}
.notice .otherU li{
    height: auto;
    line-height: 22px;
    text-align: center;
    padding: 5px 0;
}
.notice .otherU li .active{
    color: #227f57;
    font-weight: bold;
}
.platR .otherR{
    padding-bottom: 10px;
}
.otherR li select{
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    background: #fff;
}
.infoShow{
    background: #fff;
    padding: 20px;
}
.infoShow p{
    padding: 3px 0;
}
.infoWp{
    border-top: 1px solid #dbdbdb;
    margin: 20px 0;
    padding: 15px 0;
}
.platInfo .newsT{
    font-size: 18px;
    color: #4b4b4b;
    font-weight: bold;
}
.infoWp p{
    font-size: 16px;
    color: #767676;
}
.infoWp .tag{
    margin: 40px 0;
}
.infoWp .tag li{
    padding-bottom: 15px;
}
.infoWp .tag li a{
    background: url(../images/tag.png) no-repeat;
    color: #426caa;
    padding-left: 25px;
}
.starWp{
    background: #fafafa;
    border-top: 1px solid #ededed;
    padding: 10px 0 20px 20px;
    margin-bottom: 20px;
}
.starWp ul{
    overflow: hidden;
}
.starWp ul li{
    float: left;
    color: #767676;
    font-size: 16px;
    margin-right: 15px;
}
.starWp ul li span{
    vertical-align: top;
    font-size: 16px;
    color: #767676;
}
.starWp ul li input{
    margin-right: 5px;
}
.starWp p{
    clear: both;
    font-size: 14px;
    color: #444;
    margin-top: 25px;
}
.starWp .newR{
    margin-top: 5px;
    color: #2f2f2f;
}
.starWp .text{
    border: 1px solid #ededed;
    width: 96%;
    margin-bottom: 20px;
    background: #fff;
    min-height: 60px;
}
.starWp .tag{
    padding-bottom: 10px;
    margin: 20px 0;
}
.starWp .tag li{
    float: none;
}
.starWp .tag li span{
    float: right;
}
.starWp .upload{
    display: block;
    margin: -10px 0 20px 0;
    color: #6584b6;
}